* {
    font-family: Verdana, Tahoma, sans-serif;
}
html {
    line-height: 1.5;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(250, 158, 20);
    text-align: center;
}

h2 {
    color: rgb(255, 0, 0);
}

p,
ul,
ol {
    font-size: 22px;
}

img {
    height: 563;
    width: 750;
}